.cartao_onibus h3,
.cartao_onibus h6,
.cartao_onibus h5,
.cartao_onibus p {
    margin: 0;
}

#lista_onibus {
    position: absolute;
    left: 0;
    bottom: 0;

    z-index: 1;

    background-color: #253d6e;
    width: 20vw;
    height: 100vh;
    padding: 0.5vw;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#lista_onibus h1 {
    font-family: 'font_bold';
    font-size: 2.2vw;
    text-align: center;
    color: #F6F6F4;

    margin: 1.2vw 0;
}

#busca_onibus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 5%;
    background-color: #F6F6F4;
    box-shadow: inset 0.1vw 0.2vw rgba(35, 35, 35, 0.5);

    border-radius: 50vw;
}
.onibus_input{
    font-size: 1vw;
}
.busca_input{
    outline: 0;   
    color: #313030;
    width: 70%;
    padding-left: 0.8vw;
    border: none;
    background-color: transparent;
}
.onibus_botao{
    height: 110%;
    cursor: pointer;
    margin-right: -0.1vw;
    border-radius: 50vw;  
    box-shadow: 0.1vw 0.2vw rgba(35, 35, 35, 0.5);
}

.lista {
    width: 100%;
    height: auto; 
    margin-top: 1.2vw;
    display: flex;
    flex-direction: column;  
    align-items: center;

    overflow-y: scroll;
    scrollbar-width: none; /* Escondendo o scroll da barra */
}

.cartao_onibus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 90%;
    background-color: #F9CE3A;
    border-radius: 0.5vw;

    padding: 0.2vw;
    margin: 0.5vw;
}
.cartao_top, .cartao_botton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    padding: 0.3vw 0;
}
.cartao_top{
    height: 7vh;
}
.cartao_botton div {
    display: flex;
    flex-direction: column;
}

.cartao_onibus h3, .cartao_onibus h5{
    font-family: 'font_bold';
}
.cartao_onibus p{
    font-family: 'font_extralight';
    font-size: 1vw;
    color: #F6F6F4;
}
.cartao_onibus h3 {
    font-size: 1.7vw;
    color: #313030;
}
.cartao_onibus h5{
    color: #313030;
    font-size: 1vw;
    max-height: 1.8vw;
    overflow: hidden;
    margin-bottom: 0.2vw;
}

.destino{
    text-align: end;
}


@media (max-width: 425px) {
    #lista_onibus{
        z-index: 3;
        width: 100vw;
        height: auto;
        bottom: 10vh;
    } 
    #lista_onibus h1{
        display: none;
    }
    #busca_onibus{
        display: none;
    }
    .lista{
        height: auto;
        width: 100%;
        padding: 0 1vw;
        flex-direction: row;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .cartao_onibus{
        height: 90%;
        width: auto;
        border-radius: 1.5vw;
        padding: 0.8vw;
        margin: 0 1.5%;
        flex: none;
    }
    .cartao_top, .cartao_botton{
        width: 60vw;
    }
    .cartao_top{
        height: auto;
    }
    .cartao_onibus p{
        font-size: 4.5vw;
    }
    .cartao_onibus h3{
        font-size: 5vw;        
    }
    .cartao_onibus h5{
        font-size: 3vw;
        max-height: 6vw;
        margin-bottom: 0.8vw;
    }
}