.cartao_onibus h3,
.cartao_onibus h6,
.cartao_onibus h5,
.cartao_onibus p {
    margin: 0;
}
.cartao_onibus h3{
    font-family: 'font_bold';
    font-size: 1.5vw;
}
.cartao_onibus i{
    font-size: 2.5vw;
}
.cartao_onibus h5, p{
    font-family: 'font_bold';
    font-size: 1vw;
}
.cartao_onibus{
    justify-content: space-between;
    padding: 0.5vw;
}
section{
    position: absolute;
    background-color: #253d6e;
    width: 18.5vw;
    padding: 0.5vw;
}
#busca_onibus{
    display: flex;
    justify-content: center;
}
#lista_onibus h1{
     font-family:'font_extralight';
     font-size: 2.5vw;
}
h1 {
    font-size: 30px;
    text-align: center;
    color: white;
}
.lista {
    width: 18vw;
    height: 100vh;
    background-color: #253d6e;
    padding: 0.5vw;
    z-index: 1;
}

.cartao_onibus {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16vw;
    height: 8vw;
    background-color: yellow;
    border-radius: 0.5vw;
    padding: 0.1vw;
    margin: 0.5vw;
}

.cartao_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5vw;
    width: 95%;
}
.cartao_top h6{
    font-family:'font_extralight';
    font-size: 1.2vw;
}
.cartao_top div {
    display: flex;
    flex-direction: column;
}

.cartao_botton {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
}

.cartao_botton div {
    display: flex;
    flex-direction: column;
}