#lista_horarios{    
    width: 15vw;
    height: 85vh;
    position: absolute;
    right: -15vw;
    bottom: 0;
    z-index: 1;
    background-color: #253d6e;
    transition: right 0.3s ease;
}

#titulo_ponto{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between; 
    padding-top: 0;
    padding: 0.5vw;
}

#titulo_ponto h1{
    font-family: 'font_bold';
    font-size: 1.5vw;
    color: #f6f4f4;
    margin-top: 0.8vw;
}
#titulo_ponto img{
    width: 1.8vw;
    margin-right: 1.3vw;
    margin-top: 0.5vw;
    height: 1.8vw;

}

#horario_pontos{
    overflow-y: scroll;
    scrollbar-width: none; /*Escondendo o scroll da barra */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#horario_pontos div{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #f9ce3a;
    border-radius: 0.4vw;
    width: 90%;

    margin: 0.3vw 0;
}

#horario_pontos div h2, #horario_pontos div h3{
    background-color: #f6f4f4;
    font-size: 1vw;
    margin:0.2vw;
    padding: 0.4vw 0.5vw;
    border-radius: 0.35vw;
    font-family: 'font_extralight';
}
#horario_pontos div h3{
    font-size: 0.9vw;
}

.busca_botao{
    cursor: pointer;
}

@media (max-width: 425px) {
    #lista_horarios{
        width: 60vw;
        height: 90vh;
    }
    #titulo_ponto h1{
        font-size: 5vw;
    }
    #titulo_ponto img{
        width: 6vw;
        height: 6vw;
    }
    #horario_pontos{
        margin-top: 5%;
    }
    #horario_pontos div{
        border-radius: 1vw;
        margin: 1vw;
        padding: 1vw;
    }
    #horario_pontos div h2, #horario_pontos div h3{
        font-size: 5vw;
        background-color: transparent;
        color: #313030
    }
}