@import url(/css/map.css);
@import url(/css/lista_horarios.css);
@import url(/css/lista_onibus.css);
@import url(/css/header.css);

@font-face {
    font-family:'font_bold'/*spartan*/;
    src: url(/assets/fonts/LeagueSpartan-Bold.ttf);
}
@font-face {
    font-family:'font_extralight'/*spartan*/;
    src: url(/assets/fonts/LeagueSpartan-ExtraLight.ttf);
}

body {
    width: 100vw;
    height: 100vh;

    overflow: hidden;
}
